In [1]:
import nltk
import pandas as pd
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, recall_score, precision_score

import string

In [5]:
# df = pd.read_csv("data/date_popularity_processed.csv")
# df.head()

   _id  duration recorded_date  popularity   likes    views
0   21       992    2006-02-23    2.885684   17000   589115
1    1       957    2006-02-25    2.995805  110000  3671801
2    7      1266    2006-02-24    2.987323   60000  2008487
3   47      1126    2005-07-14    2.969279   80000  2694257
4   55      1524    2006-02-26    2.858560   14000   489757

In [7]:
df_org = pd.read_csv("data/talks_info_noedits.csv")

C:\Users\apfle\AppData\Local\Temp\ipykernel_12320\1484942858.py:1: DtypeWarning: Columns (24,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,407) have mixed types. Specify dtype option on import or set low_memory=False.
  df_org = pd.read_csv("data/talks_info_noedits.csv")

In [8]:
df = df_org[['_id', 'duration', 'likes', 'speakers', 'subtitle_languages', 'summary', 'title', 'transcript', 'views', 'recorded_date']]

In [9]:
df.head()

,_id,duration,likes,speakers,subtitle_languages,summary,title,transcript,views,recorded_date
0,21,992,17K,"[{""name"":""Mena Trott"",""occupation"":""Blogger; c...","[{""name"":""English"",""code"":""en""},{""name"":""Vietn...","The founding mother of the blog revolution, Mo...",Meet the founder of the blog revolution,"Over the past couple of days, as I've been pre...",589115,2/23/06
1,1,957,110K,"[{""name"":""Al Gore"",""occupation"":""Climate advoc...","[{""name"":""Greek"",""code"":""el""},{""name"":""Gujarat...",With the same humor and humanity he exuded in ...,Averting the climate crisis,"Thank you so much, Chris. And it's truly a gre...",3671801,2/25/06
2,7,1266,60K,"[{""name"":""David Pogue"",""occupation"":""Technolog...","[{""name"":""Greek"",""code"":""el""},{""name"":""English...",New York Times columnist David Pogue takes aim...,Simplicity sells,"(Music: ""The Sound of Silence,"" Simon &amp; Ga...",2008487,2/24/06
3,47,1126,80K,"[{""name"":""David Deutsch"",""occupation"":""Physici...","[{""name"":""Greek"",""code"":""el""},{""name"":""English...",Legendary scientist David Deutsch puts theoret...,Chemical scum that dream of distant quasars,We've been told to go out on a limb and say so...,2694257,7/14/05
4,55,1524,14K,"[{""name"":""Jehane Noujaim"",""occupation"":""Filmma...","[{""name"":""English"",""code"":""en""},{""name"":""Vietn...",Jehane Noujaim unveils her 2006 TED Prize wish...,My wish: A global day of film,I can't help but this wish: to think about whe...,489757,2/26/06

In [11]:
print(df.head(1)["transcript"])

0    Over the past couple of days, as I've been pre...
Name: transcript, dtype: object