In [7]:
import pandas as pd

# import 'updated_trascripts_with_emotion_v2.csv' 
# import 'updated_transcripts_with_emotion_v2.csv'  
data = pd.read_csv('/Users/taeeunkwon/Downloads/vscode_projects/data/updated_transcripts_with_emotions_v2.csv')
data

,Unnamed: 0,_id,duration,likes,speakers,subtitle_languages,summary,topics,title,transcript,views,recorded_date,published_date,speakers_list,sl_list,topics_list,processed_transcript,detected_emotion
0,0,21,992,17000,"[{'name': 'Mena Trott', 'occupation': 'Blogger...","[{'name': 'English', 'code': 'en'}, {'name': '...","The founding mother of the blog revolution, Mo...","[{'id': '4', 'name': 'culture'}, {'id': '13', ...",Meet the founder of the blog revolution,"Over the past couple of days, as I've been pre...",589115,2006-02-23,2006-08-25,['Mena Trott'],"['English', 'Vietnamese', 'Italian', 'Arabic',...","['culture', 'design', 'business', 'entertainme...",past couple day preparing speech become nervou...,"{\n ""Inspired"": 0.9,\n ""Moved"": 0.8,\n ..."
1,1,1,957,110000,"[{'name': 'Al Gore', 'occupation': 'Climate ad...","[{'name': 'Greek', 'code': 'el'}, {'name': 'Gu...",With the same humor and humanity he exuded in ...,"[{'id': '3', 'name': 'climate change'}, {'id':...",Averting the climate crisis,"Thank you so much, Chris. And it's truly a gre...",3671801,2006-02-25,2006-06-27,['Al Gore'],"['Greek', 'Gujarati', 'English', 'Italian', 'S...","['climate change', 'culture', 'environment', '...",thank much chris truly great honor opportunity...,"{\n ""Inspired"": 0.8,\n ""Amused"": 0.7,\n ..."
2,2,7,1266,60000,"[{'name': 'David Pogue', 'occupation': 'Techno...","[{'name': 'Greek', 'code': 'el'}, {'name': 'En...",New York Times columnist David Pogue takes aim...,"[{'id': '10', 'name': 'technology'}, {'id': '3...",Simplicity sells,"(Music: ""The Sound of Silence,"" Simon &amp; Ga...",2008487,2006-02-24,2006-06-27,['David Pogue'],"['Greek', 'English', 'Vietnamese', 'Italian', ...","['technology', 'computers', 'entertainment', '...",music sound silence simon amp garfunkel hello ...,"{\n ""Inspired"": 0.9,\n ""Moved"": 0.7,\n ..."
3,3,47,1126,80000,"[{'name': 'David Deutsch', 'occupation': 'Phys...","[{'name': 'Greek', 'code': 'el'}, {'name': 'En...",Legendary scientist David Deutsch puts theoret...,"[{'id': '3', 'name': 'climate change'}, {'id':...",Chemical scum that dream of distant quasars,We've been told to go out on a limb and say so...,2694257,2005-07-14,2006-09-12,['David Deutsch'],"['Greek', 'English', 'Vietnamese', 'Italian', ...","['climate change', 'culture', 'environment', '...",told go limb say something surprising try want...,"```json\n{\n ""Inspired"": 1.0,\n ""Hopeful"": 0..."
4,4,55,1524,14000,"[{'name': 'Jehane Noujaim', 'occupation': 'Fil...","[{'name': 'English', 'code': 'en'}, {'name': '...",Jehane Noujaim unveils her 2006 TED Prize wish...,"[{'id': '4', 'name': 'culture'}, {'id': '6', '...",My wish: A global day of film,I can't help but this wish: to think about whe...,489757,2006-02-26,2006-07-25,['Jehane Noujaim'],"['English', 'Vietnamese', 'Italian', 'Arabic',...","['culture', 'global issues', 'entertainment', ...",help wish think little kid friend ask genie co...,"{\n ""Inspired"": 0.92,\n ""Curious"": 0.78,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,5626,95714,278,5800,"[{'name': 'Lyla Latif', 'occupation': 'Educato...","[{'name': 'English', 'code': 'en'}, {'name': '...","In 2020, Mali produced over 71 tons of gold— a...","[{'id': '18', 'name': 'business'}, {'id': '19'...",The true cost of gold,Gold is one of Earth’s most valuable resources...,195168,2022-07-21,2022-07-21,['Lyla Latif'],"['English', 'Arabic', 'Vietnamese', 'Hebrew']","['business', 'corruption', 'education', 'Afric...",gold one earth ’ valuable resource one kilogra...,"{\n ""Inspired"": 0.8,\n ""Moved"": 0.6,\n ..."
5627,5627,95710,940,10000,"[{'name': 'Trish Millines Dziko', 'occupation'...","[{'name': 'English', 'code': 'en'}, {'name': '...","Forget home economics and standardized tests, ...","[{'id': '52', 'name': 'education'}, {'id': '53...",How schools can nurture every student's genius,Let me tell you about the fifth-grade students...,356620,2021-11-20,2022-07-21,['Trish Millines Dziko'],"['English', 'Arabic']","['education', 'innovation', 'creativity', 'com...",let tell fifthgrade student boze elementary sc...,"```json\n{\n ""Inspired"": 0.9,\n ""Curious..."
5628,5628,95451,1048,12000,"[{'name': 'David Wengrow', 'occupation': 'Arch...","[{'name': 'English', 'code': 'en'}, {'name': '...",What if the commonly accepted narratives about...,"[{'id': '4', 'name': 'culture'}, {'id': '81', ...",A new understanding of human history and the r...,"In the summer of 2014, I was in Iraqi Kurdista...",412825,2022-04-10,2022-07-22,['David Wengrow'],"['English', 'Arabic']","['culture', 'history', 'anthropology', 'humani...",summer 2014 iraqi kurdistan small team archaeo...,"{\n ""Inspired"": 0.9,\n ""Curious"": 0.8,\n..."
5629,5629,95708,651,7200,"[{'name': 'Dan Widmaier', 'occupation': 'Bioma...","[{'name': 'English', 'code': 'en'}]",Your closet is likely full of all kinds of mat...,"[{'id': '5', 'name': 'environment'}, {'id': '8...",The future of fashion -- made from mushrooms,"I'm a proud lifelong nerd, and I have a PhD in...",240375,2022-04-10,2022-07-25,['Dan Widmaier'],['English'],"['environment', 'science', 'sustainability', '...",proud lifelong nerd phd chemistry chemical bio...,"{\n ""Inspired"": 0.9,\n ""Hopeful"": 0.8,\n..."
5630,5630,95709,649,4500,"[{'name': 'Scott Fitsimones', 'occupation': 'E...","[{'name': 'English', 'code': 'en'}]","Could DAOs, or ""decentralized autonomous organ...","[{'id': '45', 'name': 'cities'}, {'id': '51', ...",Could a DAO build the next great city?,How do you start a new city? Turns out it's no...,151529,2022-04-10,2022-07-26,['Scott Fitsimones'],['English'],"['cities', 'urban planning', 'future', 'democr...",start new city turn easy need survey terrain g...,"{\n ""Inspired"": 0.9,\n ""Hopeful"": 0.75,\..."

In [9]:
def parse_json(data):
    import json
    try:
        # Load JSON content if it's a string, else return an empty dictionary
        return json.loads(data) if isinstance(data, str) else {}
    except json.JSONDecodeError:
        # Return an empty dictionary in case of JSON decode error
        return {}


data['detected_emotion'] = data['detected_emotion'].apply(parse_json)

In [10]:
emotion_df = pd.json_normalize(data['detected_emotion']).fillna(0)
data = pd.concat([data.drop(['detected_emotion'], axis=1), emotion_df], axis=1)

In [14]:
data

# save the updated dataframe to a new csv file

data.to_csv('/Users/taeeunkwon/Downloads/vscode_projects/data/updated_transcripts_with_emotions_final.csv', index=False)